trace {
      enabled = true
      file = 'nf_trace.txt'
}

dag {
    enabled = true
    file = 'nf_dag.dot'
}

timeline {
    enabled = true
    file = 'nf_timeline.html'
}

report {
    enabled = true
    file = 'nf_report.html'
}

k8s {
   storageClaimName = 'ifbrepro'
   storageMountPath = '/workspace'
}

process{
    executor='k8s'

    $getalignments{
    }
    $getbesttrees{
    }

    $fasttree{
	cpus=1
	memory='1G'
	container='evolbioinfo/fasttree:v2.1.9'
    }

    $raxml{
	cpus=4
	memory='1G'
	container='evolbioinfo/raxml:v8.2.0-avx2'
    }

    $iqtree{
	cpus=1
	memory='1G'
	container='evolbioinfo/iqtree:v1.4.2'
    }

    $tophylip{
	container='evolbioinfo/goalign:v0.2.8a'
    }

    $phyml{
	cpus=1
	memory='1G'
	container='evolbioinfo/phyml:v3.3.20180129'
    }

    $comparetrees{
	cpus=1
	memory='2G'
	container='evolbioinfo/gotree:v0.2.10'
    }

    $plot{
	cpus=1
	memory='5G'
	container='evolbioinfo/r-extended:v3.4.3'
    }
}
